In [1]:
import pandas as pd
from itertools import combinations

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015
1669,tt0449088,300000000,961000000,Pirates of the Caribbean: At World's End,Johnny Depp|Orlando Bloom|Keira Knightley|Geof...,Gore Verbinski,"At the end of the world, the adventure begins.","Captain Barbossa, long believed to be dead, ha...",169,Adventure|Fantasy|Action,Walt Disney Pictures|Jerry Bruckheimer Films|S...,5/19/2007,6.8,2007
179,tt1791528,20000000,11110975,Inherent Vice,Joaquin Phoenix|Josh Brolin|Owen Wilson|Kather...,Paul Thomas Anderson,"Under the paving stones, the beach!","In Los Angeles at the turn of the 1970s, drug-...",148,Comedy|Romance|Crime|Drama|Mystery,Ghoulardi Film Company|Warner Bros.,12/25/2014,6.3,2014
1279,tt1762399,80000000,126546518,Walking With Dinosaurs,Charlie Rowe|Justin Long|Karl Urban|Angourie R...,Neil Nightingale|Barry Cook,The Greatest Adventure in 70 Million Years,Walking with Dinosaurs 3D is a film depicting ...,87,Animation|Family|Adventure,20th Century Fox,12/18/2013,5.0,2013
686,tt0406759,12000000,56309766,The Eye,Jessica Alba|Alessandro Nivola|Parker Posey|Ra...,David Moreau|Xavier Palud,How can you believe your eyes when they're not...,Violinist Sydney Wells was accidentally blinde...,98,Drama|Horror|Thriller,Paramount Vantage|VN Productions,2/1/2008,5.6,2008

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 14 columns):
imdb_id                 1889 non-null object
budget                  1889 non-null int64
revenue                 1889 non-null int64
original_title          1889 non-null object
cast                    1889 non-null object
director                1889 non-null object
tagline                 1889 non-null object
overview                1889 non-null object
runtime                 1889 non-null int64
genres                  1889 non-null object
production_companies    1889 non-null object
release_date            1889 non-null object
vote_average            1889 non-null float64
release_year            1889 non-null int64
dtypes: float64(1), int64(4), object(9)
memory usage: 206.7+ KB

# Предобработка

In [5]:
# создадим словарь для ответов
answers = {}

In [6]:
# Преобразуем стороковый формат столбца 'release_date' в формат datetime.
data['release_date'] = pd.to_datetime(data['release_date'])

In [7]:
# Создание столбца 'profit' (разница между кассовыми сборами и бюджетом).
data['profit'] = data.revenue-data.budget

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 15 columns):
imdb_id                 1889 non-null object
budget                  1889 non-null int64
revenue                 1889 non-null int64
original_title          1889 non-null object
cast                    1889 non-null object
director                1889 non-null object
tagline                 1889 non-null object
overview                1889 non-null object
runtime                 1889 non-null int64
genres                  1889 non-null object
production_companies    1889 non-null object
release_date            1889 non-null datetime64[ns]
vote_average            1889 non-null float64
release_year            1889 non-null int64
profit                  1889 non-null int64
dtypes: datetime64[ns](1), float64(1), int64(5), object(8)
memory usage: 221.5+ KB

# 1. У какого фильма из списка самый большой бюджет?

In [9]:
data.loc[data['budget'] == data.budget.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,2011-05-11,6.3,2011,641683000

In [10]:
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)' #+

# 2. Какой из фильмов самый длительный (в минутах)?

In [11]:
data.loc[data['runtime'] == data.runtime.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2003-02-21,5.8,2003,-43076064

In [12]:
answers['2'] = 'Gods and Generals (tt0279111)' #+

# 3. Какой из фильмов самый короткий (в минутах)?

In [13]:
data.loc[data['runtime'] == data.runtime.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,2011-04-13,6.8,2011,-15540000

In [14]:
answers['3'] = 'Winnie the Pooh (tt1449283)' #+

# 4. Какова средняя длительность фильмов?

In [15]:
data.runtime.mean()

109.6585494970884

In [16]:
answers['4'] = '110' #+

# 5. Каково медианное значение длительности фильмов?

In [17]:
data.runtime.median()

107.0

In [18]:
answers['5'] = '107' #+

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [19]:
data.loc[data.profit == data.profit.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,2009-12-10,7.1,2009,2544505847

In [20]:
answers['6'] = 'Avatar (tt0499549)' #+

# 7. Какой фильм самый убыточный?

In [21]:
data.loc[data.profit == data.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,2013-07-03,6.0,2013,-165710090

In [22]:
answers['7'] = 'The Lone Ranger (tt1210819)' #+

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [23]:
data.original_title[data.profit > 0].count()

1478

In [24]:
answers['8'] = '1478' #+

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [25]:
data[data.profit == data.profit[data.release_year == 2008].max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,2008-07-16,8.1,2008,816921825

In [26]:
answers['9'] = 'The Dark Knight (tt0468569)' #+

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [27]:
data.loc[data.profit == data.profit[(data.release_year == 2012)|(data.release_year == 2013)|(data.release_year == 2014)].min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,2013-07-03,6.0,2013,-165710090

In [28]:
answers['10'] = 'The Lone Ranger (tt1210819)' #+

# 11. Какого жанра фильмов больше всего?

In [29]:
# Создадим рабочую копию DataFrame 'data_genres'. 
# Разделим столбец 'genres' по разделителю '|', затем разобьем DataFrame на строки для каждого жанра.
data_genres = data.copy()
data_genres.genres = data_genres.genres.str.split('|')
data_genres = data_genres.explode('genres')
data_genres.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5107 entries, 0 to 1888
Data columns (total 15 columns):
imdb_id                 5107 non-null object
budget                  5107 non-null int64
revenue                 5107 non-null int64
original_title          5107 non-null object
cast                    5107 non-null object
director                5107 non-null object
tagline                 5107 non-null object
overview                5107 non-null object
runtime                 5107 non-null int64
genres                  5107 non-null object
production_companies    5107 non-null object
release_date            5107 non-null datetime64[ns]
vote_average            5107 non-null float64
release_year            5107 non-null int64
profit                  5107 non-null int64
dtypes: datetime64[ns](1), float64(1), int64(5), object(8)
memory usage: 638.4+ KB

In [30]:
data_genres.genres.value_counts()

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
Name: genres, dtype: int64

In [31]:
answers['11'] = 'Drama' #+

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [32]:
data_genres[data_genres.profit > 0].genres.value_counts()

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
Name: genres, dtype: int64

In [33]:
answers['12'] = 'Drama' #+

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [34]:
# Создадим рабочую копию DataFrame 'data_director'. 
# Разделим столбец 'director' по разделителю '|', затем разобьем DataFrame на строки для каждого режиссера.
data_director = data.copy()
data_director.director = data_director.director.str.split('|')
data_director = data_director.explode('director')
data_director.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2053 entries, 0 to 1888
Data columns (total 15 columns):
imdb_id                 2053 non-null object
budget                  2053 non-null int64
revenue                 2053 non-null int64
original_title          2053 non-null object
cast                    2053 non-null object
director                2053 non-null object
tagline                 2053 non-null object
overview                2053 non-null object
runtime                 2053 non-null int64
genres                  2053 non-null object
production_companies    2053 non-null object
release_date            2053 non-null datetime64[ns]
vote_average            2053 non-null float64
release_year            2053 non-null int64
profit                  2053 non-null int64
dtypes: datetime64[ns](1), float64(1), int64(5), object(8)
memory usage: 256.6+ KB

In [35]:
data_director.groupby(['director'])['revenue'].sum().sort_values(ascending = False)

director
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
                        ...
David MichÃ´d           2295423
Steven Shainberg        2281089
Paul Schrader           2062066
Keanu Reeves            2054941
Simon Hunter            2033165
Name: revenue, Length: 997, dtype: int64

In [36]:
answers['13'] = 'Peter Jackson' #+

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [37]:
# Создадим рабочую копию DataFrame 'data_dir_gen' из DataFrame 'data_director' . 
# Разделим столбец 'genres' по разделителю '|', затем разобьем DataFrame на строки для каждого жанра.
data_dir_gen = data_director.copy()
data_dir_gen.genres = data_dir_gen.genres.str.split('|')
data_dir_gen = data_dir_gen.explode('genres')
data_dir_gen.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6753 entries, 0 to 1888
Data columns (total 15 columns):
imdb_id                 6753 non-null object
budget                  6753 non-null int64
revenue                 6753 non-null int64
original_title          6753 non-null object
cast                    6753 non-null object
director                6753 non-null object
tagline                 6753 non-null object
overview                6753 non-null object
runtime                 6753 non-null int64
genres                  6753 non-null object
production_companies    6753 non-null object
release_date            6753 non-null datetime64[ns]
vote_average            6753 non-null float64
release_year            6753 non-null int64
profit                  6753 non-null int64
dtypes: datetime64[ns](1), float64(1), int64(5), object(8)
memory usage: 844.1+ KB

In [38]:
data_dir_gen[data_dir_gen.genres == 'Action'].director.value_counts()

Robert Rodriguez     17
Quentin Tarantino    12
Brian Taylor          8
Mark Neveldine        8
Lana Wachowski        8
                     ..
Noam Murro            1
Dennis Dugan          1
Howard McCain         1
Dave Meyers           1
Ivan Reitman          1
Name: director, Length: 364, dtype: int64

In [39]:
answers['14'] = 'Robert Rodriguez' #+

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [40]:
# Создадим рабочую копию DataFrame 'data_cast'. 
# Разделим столбец 'cast' по разделителю '|', затем разобьем DataFrame на строки для каждого актера.
data_cast = data.copy()
data_cast.cast = data_cast.cast.str.split('|')
data_cast = data_cast.explode('cast')
data_cast.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9438 entries, 0 to 1888
Data columns (total 15 columns):
imdb_id                 9438 non-null object
budget                  9438 non-null int64
revenue                 9438 non-null int64
original_title          9438 non-null object
cast                    9438 non-null object
director                9438 non-null object
tagline                 9438 non-null object
overview                9438 non-null object
runtime                 9438 non-null int64
genres                  9438 non-null object
production_companies    9438 non-null object
release_date            9438 non-null datetime64[ns]
vote_average            9438 non-null float64
release_year            9438 non-null int64
profit                  9438 non-null int64
dtypes: datetime64[ns](1), float64(1), int64(5), object(8)
memory usage: 1.2+ MB

In [41]:
data_cast[data_cast.release_year == 2012].groupby(['cast'])['revenue'].sum().sort_values(ascending = False)

cast
Chris Hemsworth      2027450773
Denis Leary          1629460639
Anne Hathaway        1522851057
Chris Evans          1519557910
Robert Downey Jr.    1519557910
                        ...
Jason Bateman           3428048
Danny Huston            2106557
Sami Gayle              2106557
Josh Lucas              2106557
Nicolas Cage            2106557
Name: revenue, Length: 466, dtype: int64

In [42]:
answers['15'] = 'Chris Hemsworth' #+

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [43]:
data_cast[data_cast.budget > data_cast.budget.mean()].cast.value_counts()

Matt Damon         18
Adam Sandler       17
Angelina Jolie     16
Eddie Murphy       15
Tom Cruise         15
                   ..
Joe Pantoliano      1
Ossie Davis         1
Leonard Nimoy       1
Olivia Williams     1
Douglas Smith       1
Name: cast, Length: 1505, dtype: int64

In [44]:
answers['16'] = 'Matt Damon' #+

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [45]:
# Создадим рабочую копию DataFrame 'data_cast_gen' из DataFrame 'data_cast' . 
# Разделим столбец 'genres' по разделителю '|', затем разобьем DataFrame на строки для каждого жанра.
data_cast_gen = data_cast.copy()
data_cast_gen.genres = data_cast_gen.genres.str.split('|')
data_cast_gen = data_cast_gen.explode('genres')
data_cast_gen.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 127540 entries, 0 to 1888
Data columns (total 15 columns):
imdb_id                 127540 non-null object
budget                  127540 non-null int64
revenue                 127540 non-null int64
original_title          127540 non-null object
cast                    127540 non-null object
director                127540 non-null object
tagline                 127540 non-null object
overview                127540 non-null object
runtime                 127540 non-null int64
genres                  127540 non-null object
production_companies    127540 non-null object
release_date            127540 non-null datetime64[ns]
vote_average            127540 non-null float64
release_year            127540 non-null int64
profit                  127540 non-null int64
dtypes: datetime64[ns](1), float64(1), int64(5), object(8)
memory usage: 15.6+ MB

In [46]:
data_cast_gen[data_cast_gen.cast == 'Nicolas Cage'].genres.value_counts()

Action             85
Thriller           75
Drama              60
Crime              50
Fantasy            40
Adventure          35
Comedy             30
Science Fiction    20
Animation          15
Mystery            15
Family             15
History            10
War                 5
Romance             5
Horror              5
Name: genres, dtype: int64

In [47]:
answers['17'] = 'Action' #+

# 18. Самый убыточный фильм от Paramount Pictures

In [48]:
# Создадим рабочую копию DataFrame 'data_prod'. 
# Разделим столбец 'production_companies' по разделителю '|', затем разобьем DataFrame на строки для каждой компании.
data_prod = data.copy()
data_prod.production_companies = data_prod.production_companies.str.split('|')
data_prod = data_prod.explode('production_companies')
data_prod.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6078 entries, 0 to 1888
Data columns (total 15 columns):
imdb_id                 6078 non-null object
budget                  6078 non-null int64
revenue                 6078 non-null int64
original_title          6078 non-null object
cast                    6078 non-null object
director                6078 non-null object
tagline                 6078 non-null object
overview                6078 non-null object
runtime                 6078 non-null int64
genres                  6078 non-null object
production_companies    6078 non-null object
release_date            6078 non-null datetime64[ns]
vote_average            6078 non-null float64
release_year            6078 non-null int64
profit                  6078 non-null int64
dtypes: datetime64[ns](1), float64(1), int64(5), object(8)
memory usage: 759.8+ KB

In [63]:
data_prod[(data_prod.production_companies == 'Paramount Pictures')]['profit'].min()

-64831034

In [64]:
data_prod[(data_prod.production_companies == 'Paramount Pictures')&(data_prod.profit == -64831034)]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures,2002-07-19,6.0,2002,-64831034

In [65]:
answers['18'] = 'K-19: The Widowmaker (tt0267626)' #+

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [66]:
data.groupby(['release_year'])['revenue'].sum().sort_values(ascending = False)

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
2010    21071204961
2009    20261791024
2008    18252781990
2007    18162406801
2004    15663430720
2005    15309425558
2006    14775042320
2003    14346123312
2002    14136361487
2001    13017764865
2000    10664099805
Name: revenue, dtype: int64

In [67]:
answers['19'] = '2015' #+

# 20. Какой самый прибыльный год для студии Warner Bros?

In [68]:
data_prod[data_prod.production_companies.str.contains('Warner Bros')].groupby(['release_year'])['profit'].sum().sort_values(ascending = False)

release_year
2014    2292949646
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
2003    1844008221
2009    1822454136
2013    1636453400
2004    1631933725
2005    1551980298
2001    1282142579
2012    1258020056
2002    1022709901
2015     870368348
2006     625351872
2000     452631386
Name: profit, dtype: int64

In [69]:
answers['20'] = '2014' #+

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [70]:
# Выделим месяцы из дат выходов фильмов в отдельный столбец 'release_month'. 
data['release_month'] = data['release_date'].map(lambda date: date.month)

In [71]:
data.release_month.value_counts().sort_values(ascending = False)

9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: release_month, dtype: int64

In [72]:
answers['21'] = 'Сентябрь' #+

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [73]:
data.imdb_id[data.release_month.isin([6, 7, 8])].count()

450

In [74]:
answers['22'] = '450' #+

# 23. Для какого режиссера зима – самое продуктивное время года?

In [75]:
# Добавим в DataFrame data_director столбец 'release_month'.
data_director['release_month'] = data_director['release_date'].map(lambda date: date.month)

In [76]:
data_director[data_director.release_month.isin([1, 2, 12])].groupby(['director'])['release_month'].count().sort_values(ascending = False)

director
Peter Jackson            7
Steven Soderbergh        6
Clint Eastwood           6
Martin Scorsese          4
Adam Shankman            4
                        ..
Matt Bettinelli-Olpin    1
Matt Reeves              1
Matthew O'Callaghan      1
Matthew Vaughn           1
Jon Avnet                1
Name: release_month, Length: 358, dtype: int64

In [77]:
answers['23'] = 'Peter Jackson' #+

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [78]:
# Добавим в DataFrame data_prod столбец 'len_title' в котором содержатся длины названий фильмов.
data_prod['len_title'] = data_prod.original_title.str.len()

In [79]:
data_prod.groupby(['production_companies'])['len_title'].mean().sort_values(ascending = False)

production_companies
Four By Two Productions       83.0
Jim Henson Company, The       59.0
Dos Corazones                 47.0
Museum Canada Productions     46.0
Polsky Films                  46.0
                              ...
Everest Entertainment          3.0
Berlanti Productions           3.0
XM2 Productions                2.0
Ixtlan Productions             2.0
Global Entertainment Group     2.0
Name: len_title, Length: 1771, dtype: float64

In [80]:
answers['24'] = 'Four By Two Productions' #+

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [81]:
# Разобьем столбец 'overview' с описанием фильмов на слова.
data_prod.overview = data_prod.overview.str.split()
# Создадим столбец 'len_overview' в который запишем количество слов в столбце 'overview'. 
data_prod['len_overview'] = data_prod.overview.str.len()

In [82]:
data_prod.groupby(['production_companies'])['len_overview'].mean().sort_values(ascending = False)

production_companies
Midnight Picture Show                    175.0
Room 9 Entertainment                     161.0
98 MPH Productions                       159.0
Heineken Branded Entertainment           159.0
Brookwell-McNamara Entertainment         156.0
                                         ...
London Boulevard                          13.0
Phantom Four                              13.0
Henceforth                                13.0
Empire Pictures                           11.0
Motion Picture Corporation of America     11.0
Name: len_overview, Length: 1771, dtype: float64

In [83]:
answers['25'] = 'Midnight Picture Show' #+

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [84]:
# Отсортирум фильмы по рейтингу. 1% это 18 фильмов. 
data.vote_average.sort_values(ascending = False).head(18)

599     8.1
125     8.0
9       8.0
118     8.0
34      8.0
1081    7.9
138     7.9
1183    7.9
370     7.9
119     7.9
1800    7.9
128     7.9
872     7.9
1191    7.9
283     7.8
1688    7.8
863     7.8
155     7.8
Name: vote_average, dtype: float64

In [85]:
# Проверим название первого фильма. В одном из вариантов есть такой фильм, проверим остальные.
data.loc[599]

imdb_id                                                         tt0468569
budget                                                          185000000
revenue                                                        1001921825
original_title                                            The Dark Knight
cast                    Christian Bale|Michael Caine|Heath Ledger|Aaro...
director                                                Christopher Nolan
tagline                                                   Why So Serious?
overview                Batman raises the stakes in his war on crime. ...
runtime                                                               152
genres                                        Drama|Action|Crime|Thriller
production_companies    DC Comics|Legendary Pictures|Warner Bros.|Syncopy
release_date                                          2008-07-16 00:00:00
vote_average                                                          8.1
release_year                                                         2008
profit                                                          816921825
release_month                                                           7
Name: 599, dtype: object

In [86]:
#Проверим 2 фильма, которые даны в вариантах ответов.
data.loc[data.original_title == 'Inside Out']

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month
9,tt2096673,175000000,853708609,Inside Out,Amy Poehler|Phyllis Smith|Richard Kind|Bill Ha...,Pete Docter,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,Comedy|Animation|Family,Walt Disney Pictures|Pixar Animation Studios|W...,2015-06-09,8.0,2015,678708609,6

In [87]:
data.loc[data.original_title == '12 Years a Slave']

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month
1191,tt2024544,20000000,187000000,12 Years a Slave,Chiwetel Ejiofor|Michael Fassbender|Lupita Nyo...,Steve McQueen,The extraordinary true story of Solomon Northup,"In the pre-Civil War United States, Solomon No...",134,Drama|History,Plan B Entertainment|Regency Enterprises|River...,2013-10-18,7.9,2013,167000000,10

In [88]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave' #+

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [89]:
# Создадим рабочую копию DataFrame 'data_cast_list'. 
# Разделим столбец 'cast' по разделителю '|'.
data_cast_list = data.copy()
data_cast_list.cast = data_cast_list.cast.str.split('|')

In [90]:
# Сгенерируем пары из актреров, которые снимались в одном фильме и запишем их в новый столбец 'actor_pair'.
data_cast_list['actor_pair'] = data_cast_list.cast.apply(lambda x: list(combinations(x, 2)))

In [91]:
# Создадим словарь в который будем добавлять пары актеров из столбца 'actor_pair'. 
# Затем посчитаем сколько раз встречаются пары.
# Выберем пару из предложенных вариантов.
mov_acts = [] 
for cast in data_cast_list['actor_pair']:
    mov_acts.extend(cast)
acts_pair = pd.Series(mov_acts).value_counts()
display(acts_pair)

(Daniel Radcliffe, Rupert Grint)        8
(Daniel Radcliffe, Emma Watson)         8
(Rupert Grint, Emma Watson)             7
(Ben Stiller, Owen Wilson)              6
(Johnny Depp, Helena Bonham Carter)     6
                                       ..
(Joel Kinnaman, Brendan Gleeson)        1
(Gary Oldman, Steve Valentine)          1
(Cary Elwes, Sean Patrick Flanery)      1
(Sandra Bullock, Shohreh Aghdashloo)    1
(Kristen Bell, Idina Menzel)            1
Length: 18121, dtype: int64

In [92]:
answers['27'] = 'Daniel Radcliffe & Rupert Grint' #+

# Submission

In [93]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': '2015',
 '20': '2014',
 '21': 'Сентябрь',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe & Rupert Grint'}

In [94]:
# и убедиться что ни чего не пропустила)
len(answers)

27